# Manipulate Datasets 2018 and 2019

In [1]:
import pandas as pd
import numpy as np

In [2]:
wh2018 = pd.read_csv('2018.csv')
wh2019 = pd.read_csv('2019.csv')

In [3]:
for c_ in wh2019.columns:
    if c_ not in ['Overall rank','Country or region']:
        limit = np.random.randint(2,20)
        for i in range( 1 , limit  ):
            wh2019.loc[ wh2019['Overall rank'] == np.random.randint(0, wh2019.shape[0]) , c_ ] = np.NaN

In [4]:
for c_ in wh2018.columns:
    if c_ not in ['Overall rank','Country or region']:
        limit = np.random.randint(2,20)
        for i in range( 1 , limit  ):
            wh2018.loc[ wh2018['Overall rank'] == np.random.randint(0, wh2018.shape[0]) , c_ ] = np.NaN

In [5]:
wh2018.to_csv('2018_v2.csv',index=False)

In [6]:
wh2019.to_csv('2019_v2.csv',index=False)

In [7]:
print(wh2018.to_csv('2018_v2.csv',index=False))

None

In [8]:
print(wh2019.to_csv('2019_v2.csv',index=False))

None

In [15]:
wh2018[0:10]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,NaN,0.927,0.660,0.256,0.357
5,6,Netherlands,7.441,1.361,1.488,0.878,NaN,0.333,0.295
6,7,Canada,7.328,1.330,1.532,NaN,0.653,0.321,0.291
7,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389
8,9,Sweden,7.314,1.355,1.501,0.913,0.659,0.285,0.383
9,10,Australia,7.272,1.340,1.573,0.910,0.647,0.361,0.302

In [14]:
wh2019[0:10]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373
7,8,New Zealand,NaN,1.303,1.557,1.026,0.585,0.330,0.380
8,9,Canada,7.278,1.365,1.505,1.039,0.584,NaN,0.308
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226